<div class="infinite-container">
  <div class="workflow-container" #workflowContainer>
    <div class="workflow-controls">
      <button mat-icon-button (click)="toggleFullScreen()">
        <mat-icon>fullscreen</mat-icon>
      </button>
      <button mat-icon-button (click)="zoomIn()">
        <mat-icon>zoom_in</mat-icon>
      </button>
      <button mat-icon-button (click)="zoomOut()">
        <mat-icon>zoom_out</mat-icon>
      </button>
      <button mat-icon-button (click)="resetZoom()">
        <mat-icon>zoom_out_map</mat-icon>
      </button>
    </div>
    <button mat-flat-button color="primary" *ngIf="areAllActionsComplete()" (click)="startWorkflow()">
      Start Workflow
    </button>

    <div class="workflow-area" [style.transform]="zoomTransform" #workflowArea>
      <h3>Automation starts when the following trigger condition is met</h3>

      <div *ngFor="let action of actions; let i = index">
        <!-- Render each action -->
        <ng-container [ngTemplateOutlet]="renderAction" [ngTemplateOutletContext]="{ action: action }"></ng-container>
      
        <!-- Button to add a new action, only visible on the last action -->
        <div class="button-container">
          <button *ngIf="i === actions.length - 1 && !hasCondition() && !isNested()" mat-icon-button (click)="addAction(action)" class="add-icon">
            <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>
          </button>
        </div>
      </div>
    
      <!-- Button to add the first action if no actions exist yet -->
      <button *ngIf="actions.length === 0" mat-icon-button (click)="addAction()" class="add-icon">
        <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>
      </button>

      <ng-template #renderAction let-action="action" let-branch="branch">
        
        <!-- Other content here -->
        <div [ngClass]="{'action-card': true, 'condition': action.type === 'condition'}"
        (dblclick)="editAction($event, action, branch)">
        <mat-icon *ngIf="!isActionComplete(action)" class="incomplete-indicator" style="position: absolute; top: 0; right: 0;">priority_high</mat-icon>
             <p style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
              <mat-icon [ngSwitch]="action.type">
                <ng-container *ngSwitchCase="'email'">email</ng-container>
                <ng-container *ngSwitchCase="'wait'">hourglass_top</ng-container>
                <ng-container *ngSwitchCase="'condition'">account_tree</ng-container>
                <ng-container *ngSwitchDefault>{{ action.type }}</ng-container>
              </mat-icon>
              {{ action.type }}
              
            </p>
      
          <div *ngIf="!isActionComplete(action)" class="error-message" [innerHTML]="getIncompleteMessage(action)">
          </div>
      
          <div *ngIf="action.type === 'condition'">
            <div class="branch-container">
              <!-- Yes Branch -->
              <div class="branch">
                <strong>Yes</strong>
                <ng-container *ngFor="let yesAction of (action.yesBranch || []); let j = index">
                  <ng-container
                    [ngTemplateOutlet]="renderAction"
                    [ngTemplateOutletContext]="{ action: yesAction, branch: 'yes' }">
                  </ng-container>
                </ng-container>
                <button *ngIf="!(action.yesBranch?.length > 0 && action.yesBranch[action.yesBranch.length - 1].type === 'condition')"
                        mat-icon-button
                        (click)="addAction(action, 'yes')"
                        class="add-icon">
                  <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>
                </button>
              </div>
      
              <!-- No Branch -->
              <div class="branch">
                <strong>No</strong>
                <ng-container *ngFor="let noAction of (action.noBranch || []); let k = index">
                  <ng-container
                    [ngTemplateOutlet]="renderAction"
                    [ngTemplateOutletContext]="{ action: noAction, branch: 'no' }">
                  </ng-container>
                </ng-container>
                <button *ngIf="!(action.noBranch?.length > 0 && action.noBranch[action.noBranch.length - 1].type === 'condition')"
                        mat-icon-button
                        (click)="addAction(action, 'no')"
                        class="add-icon">
                  <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      
      
      
      
      
    </div>
  </div>
</div>
