<div class="workflow-container" #workflowContainer>
  <div class="workflow-controls">
    <button mat-icon-button (click)="toggleFullScreen()">
      <mat-icon>fullscreen</mat-icon>
    </button>
    <button mat-icon-button (click)="zoomIn()">
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button mat-icon-button (click)="zoomOut()">
      <mat-icon>zoom_out</mat-icon>
    </button>
    <button mat-icon-button (click)="resetZoom()">
      <mat-icon>zoom_out_map</mat-icon>
    </button>
  </div>

  <div class="workflow-area" [style.transform]="zoomTransform" #workflowArea>
    <h3>Automation starts when the following trigger condition is met</h3>

    <div *ngFor="let action of actions">
      <ng-container
        [ngTemplateOutlet]="renderAction"
        [ngTemplateOutletContext]="{ action: action }"
      ></ng-container>
    </div>

    <button
      *ngIf="!hasCondition()"
      mat-icon-button
      (click)="addAction()"
      class="add-icon"
    >
      <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>
    </button>

    <ng-template #renderAction let-action="action">
      <div class="action-card" (dblclick)="editAction(action)">
        <p>{{ action.title }}</p>

        <div *ngIf="action.type === 'condition'">
          <div class="branch-container">
            <div class="branch">
              <strong>Yes</strong>
              <ng-container *ngFor="let yesAction of action.yesBranch">
                <ng-container
                  [ngTemplateOutlet]="renderAction"
                  [ngTemplateOutletContext]="{ action: yesAction }"
                ></ng-container>
              </ng-container>
              <button
                *ngIf="!hasCondition(action.yesBranch)"
                mat-icon-button
                (click)="addAction(action, 'yes')"
                class="add-icon"
              >
                <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>
              </button>
            </div>
            <div class="branch">
              <strong>No</strong>
              <ng-container *ngFor="let noAction of action.noBranch">
                <ng-container
                  [ngTemplateOutlet]="renderAction"
                  [ngTemplateOutletContext]="{ action: noAction }"
                ></ng-container>
              </ng-container>
              <button
                *ngIf="!hasCondition(action.noBranch)"
                mat-icon-button
                (click)="addAction(action, 'no')"
                class="add-icon"
              >
                <mat-icon svgIcon="heroicons_outline:plus-circle"></mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
