.inventory-grid {
    grid-template-columns: 48px auto 40px; /* Assuming the 'auto' column is for the 'name' */

    @screen sm {
        grid-template-columns: 48px auto 112px 72px 40px; /* Adjusted */
    }

    @screen md {
        grid-template-columns: 48px 112px auto 112px 72px 40px; /* Adjusted */
    }

    @screen lg {
        grid-template-columns: 48px 112px auto 112px 96px 96px 72px 40px; /* Adjusted */
    }
}