.trigger-cards {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap on small screens */
    margin: 1rem; /* Add some margin */
    margin: 0.5rem; /* Margin between cards */
    cursor: pointer; /* Indicate clickable cards */
    border-radius: 0.5rem; /* Rounded corners */
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1); /* Add a shadow */
    transition: all 0.3s; /* Add a smooth transition on hover */
    width: 100%; /* Set the width of the cards */
    background-color: #fff; /* White background */
  }
  
  .trigger-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;

  }

  .mat-form-field {
    min-width: 200px; /* Adjust as needed */
  }
.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust the gap as needed */
}

.input-group {
  font-size: 1.25rem;
  position: relative;
  --primary: #2196f3;
}

.input {
  all: unset;
  color: #fefefe;
  padding: 1rem;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #d4d4d4;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border: 1px solid var(--primary);
}
.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.input:is(:focus, :valid) ~ label {
  transform: translateY(-120%) scale(0.7);
  background-color: #1a1a1a;
  padding-inline: 0.3rem;
  color: var(--primary);
}